@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        overflow: hidden;
        background-color: #000000;
    }

    .webgl {
        z-index: 9999;
        outline: none;
        /* border: 1px solid red; */
    }

    .card {
        width: 400px;
        height: 600px;
    }
}
